<?xml version="1.0" encoding="UTF-8"?>

<!-- 默認每30秒（通過 monitorInterval 指定）自動重新載入本檔的配置資訊 -->
<Configuration status="info" monitorInterval="30">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
			<Filters>
				<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>           
		</Console>
		<RollingFile name="DebugFile" fileName="${sys:log}/debug.log" filePattern="${sys:log}/%d{yyyy-MM-dd}/debug-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-4p] [%t] %c - %m%n"/>
			<Filters>
				<ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>           
			<Policies>              
				<TimeBasedTriggeringPolicy/>
	            <SizeBasedTriggeringPolicy size="200MB"/>
			</Policies>
			<DefaultRolloverStrategy max="50"/>
		</RollingFile>
		<RollingFile name="InfoFile" fileName="${sys:log}/info.log" filePattern="${sys:log}/%d{yyyy-MM-dd}/info-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-4p] [%t] %c - %m%n"/>
			<Filters>
				<ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>           
			<Policies>              
				<TimeBasedTriggeringPolicy/>
	            <SizeBasedTriggeringPolicy size="200MB"/>
			</Policies>
			<DefaultRolloverStrategy max="50"/>
		</RollingFile>
		<RollingFile name="WarnFile" fileName="${sys:log}/warn.log" filePattern="${sys:log}/%d{yyyy-MM-dd}/warn-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-4p] [%t] %c - %m%n"/>
			<Filters>
				<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>           
			<Policies>              
				<TimeBasedTriggeringPolicy/>
	            <SizeBasedTriggeringPolicy size="200MB"/>
			</Policies>
			<DefaultRolloverStrategy max="50"/>
		</RollingFile>
		<RollingFile name="ErrorFile" fileName="${sys:log}/error.log" filePattern="${sys:log}/%d{yyyy-MM-dd}/error-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-4p] [%t] %c - %m%n"/>
			<Filters>
				<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>           
			<Policies>              
				<TimeBasedTriggeringPolicy/>
	            <SizeBasedTriggeringPolicy size="200MB"/>
			</Policies>
			<DefaultRolloverStrategy max="50"/>
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- 避免協力廠商的包列印多餘的 LOG -->
		<Logger name="org.apache.http" level="info"/>
		<Logger name="org.apache.pdfbox" level="info"/>
		<Logger name="org.infinispan" level="info"/>
		<Logger name="org.jboss" level="info"/>
		<Logger name="com.atomikos" level="warn"/>

		<!-- 記錄 Thread 開始和結束資訊 -->
		<Logger name="Qs.Monitor.Thread" level="debug"/>

		<!-- 記錄資料庫操作，例如 SQL 語句內容 -->
		<!--
		<Logger name="com.jeedsoft.common.advanced.db.interceptor.ConnectionInterceptor" level="debug"/>
		<Logger name="com.jeedsoft.common.advanced.db.interceptor.StatementInterceptor" level="debug"/>
		<Logger name="com.jeedsoft.common.advanced.db.interceptor.PreparedStatementInterceptor" level="debug"/>
		-->

		<!-- 記錄 SQL 翻譯前後對比 -->
		<!--
		<Logger name="com.jeedsoft.jeedsql.translator.Translator" level="debug"/>
		<Logger name="com.jeedsoft.jeedsql.tool.IdentifierExtractor" level="debug"/>
		-->

		<!-- 記錄本地API和遠端API的調用狀況 -->
		<!--
		<Logger name="com.jeedsoft.quicksilver.application.servlet.LocalApiServlet" level="debug"/>
		<Logger name="com.jeedsoft.quicksilver.integration.util.RemoteApiUtil" level="debug"/>
		-->

		<!-- 記錄 Action/Service/DAO 層各 method 的執行時間 -->
		<!--
		<Logger name="unit.executionTime.action" level="debug"/>
		<Logger name="unit.executionTime.service" level="debug"/>
		<Logger name="unit.executionTime.dao" level="debug"/>
		-->

		<!--
			如果啟動時卡住但也沒相關錯誤資訊，可執行以下操作：
			1、將 level 屬性改為 debug
			2、重啟。如果仍然卡住，則可根據 debug.log 中的內容判斷問題
			3、如啟動成功，可將 level 改回 info。log4j 會自動重新載入新的設置，避免後續產生過多的調試資訊
		-->
		<Root level="info">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="DebugFile"/>
			<AppenderRef ref="InfoFile"/>
			<AppenderRef ref="WarnFile"/>
			<AppenderRef ref="ErrorFile"/>
		</Root>
	</Loggers>

</Configuration>
