#PathCell
{
	padding-left	: 12px;
	height			: 30px;
	line-height		: 30px;
	white-space		: nowrap;
	overflow		: hidden;
	text-overflow	: ellipsis;
}

#ListCell
{
	position		: absolute;
	width			: 100%;
	top				: 30px;
	bottom			: 0px;
}
