<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	
	<display-name>Quicksilver</display-name>
	<description>Quicksilver</description>
	
    <context-param>
        <param-name>org.apache.tomcat.websocket.textBufferSize</param-name>
        <param-value>1048576</param-value>
    </context-param>
	
	<session-config>
		<session-timeout>600</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
	</session-config>
	<error-page>
		<error-code>404</error-code>
		<location>/quicksilver/page/system/Http404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/quicksilver/page/system/Http500.jsp</location>
	</error-page>  
	<error-page>
		<error-code>501</error-code>
		<location>/quicksilver/page/system/Http501.jsp</location>
	</error-page>  
	<listener>
		<listener-class>com.jeedsoft.quicksilver.application.listener.ApplicationListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.jeedsoft.quicksilver.application.listener.SessionListener</listener-class>
	</listener>
	<filter>
		<filter-name>ThreadFilter</filter-name>
		<filter-class>com.jeedsoft.quicksilver.application.filter.ThreadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ThreadFilter</filter-name>
		<url-pattern>/</url-pattern>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.page</url-pattern>
		<url-pattern>*.data</url-pattern>
		<url-pattern>*.file</url-pattern>
		<url-pattern>/openapi/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>com.jeedsoft.quicksilver.application.filter.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/</url-pattern>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.page</url-pattern>
		<url-pattern>*.data</url-pattern>
		<url-pattern>*.file</url-pattern>
		<url-pattern>/openapi/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.jeedsoft.quicksilver.application.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/</url-pattern>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.page</url-pattern>
		<url-pattern>*.data</url-pattern>
		<url-pattern>*.file</url-pattern>
		<url-pattern>/openapi/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ContextFilter</filter-name>
		<filter-class>com.jeedsoft.quicksilver.application.filter.ContextFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ContextFilter</filter-name>
		<url-pattern>/</url-pattern>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.page</url-pattern>
		<url-pattern>*.data</url-pattern>
		<url-pattern>*.file</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ValidationFilter</filter-name>
		<filter-class>com.jeedsoft.quicksilver.application.filter.ValidationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ValidationFilter</filter-name>
		<url-pattern>/</url-pattern>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.page</url-pattern>
		<url-pattern>*.data</url-pattern>
		<url-pattern>*.file</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>StaticResourceFilter</filter-name>
		<filter-class>com.jeedsoft.quicksilver.application.filter.StaticResourceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StaticResourceFilter</filter-name>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>RootServlet</servlet-name>
		<servlet-class>com.jeedsoft.quicksilver.application.servlet.RootServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RootServlet</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PageServlet</servlet-name>
		<servlet-class>com.jeedsoft.quicksilver.application.servlet.PageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageServlet</servlet-name>
		<url-pattern>*.page</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DataServlet</servlet-name>
		<servlet-class>com.jeedsoft.quicksilver.application.servlet.DataServlet</servlet-class>
		<multipart-config>
			<max-file-size>524288000</max-file-size>
			<max-request-size>524288000</max-request-size>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataServlet</servlet-name>
		<url-pattern>*.data</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FileServlet</servlet-name>
		<servlet-class>com.jeedsoft.quicksilver.application.servlet.FileServlet</servlet-class>
		<multipart-config>
			<max-file-size>524288000</max-file-size>
			<max-request-size>524288000</max-request-size>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileServlet</servlet-name>
		<url-pattern>*.file</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ScriptServlet</servlet-name>
		<servlet-class>com.jeedsoft.quicksilver.application.servlet.ScriptServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScriptServlet</servlet-name>
		<url-pattern>*.script</url-pattern>
	</servlet-mapping>
</web-app>
