#TitleZone
{
	width			: 100%;
	height			: 40px;
	padding			: 8px 8px 0px 8px;
	overflow		: hidden;
	white-space		: nowrap;
}

#TitleZone:before
{
	display			: inline-block;
	vertical-align	: middle;
	width			: 0px;
	height			: 100%;
	content			: "";
}

#TitleZone span
{
	display			: inline-block;
	vertical-align	: middle;
	word-break		: break-all;
	white-space		: normal;
}

#DetailZone
{
	padding			: 8px;
	width			: 100%;
	position		: absolute;
	top				: 40px;
	bottom			: 0px;
}
