.QsContent
{
	padding			: 8px;
}

.HeadMessage
{
	padding			: 4px 0px 12px 0px;
}

#ListPanel
{
	width			: 100%;
	height			: 76px;
}

.TailMessage
{
	padding			: 12px 0px 0px 0px;
}
