.JuiLayout
{
	width				: 100%;
	overflow-x			: hidden;
	overflow-y			: visible;
}

.JuiLayoutTable
{
	border-collapse		: collapse;
	table-layout		: fixed;
	width				: 100%;
}

.JuiLayoutCell
{
	border				: 2px dashed #CFCBFF;
	border-top			: none;
	vertical-align		: top;
	padding				: 0px 6px;
}

.JuiLayoutTable:first-child .JuiLayoutCell
{
	border-top			: 2px dashed #CFCBFF;
}

.JuiLayoutSplitter
{
	width				: 100%;
	height				: 6px;
	overflow			: hidden;
	margin-top			: 1px;
	margin-bottom		: 1px;
	transition			: background-color 0.3s;
}

.JuiLayoutSplitter[Highlight]
{
	background-color	: #3399FF;
}

.JuiLayoutModule
{
	border				: 1px solid rgba(101, 147, 207, 0.2);
	width				: 100%;
	box-shadow			: 0px 0px 1px rgba(101, 147, 207, 0.1);
	transition			: opacity 0.3s;
}

.JuiLayoutModule[Dragging]
{
	opacity				: 0.4;
}

.JuiLayoutModuleHead
{
	width				: 100%;
	height				: 25px;
	border-collapse		: collapse;
	border-bottom		: 1px solid rgba(101, 147, 207, 0.2);
	table-layout		: fixed;
	cursor				: default;
	background			: whitesmoke;
}

.JuiLayoutModuleBody
{
	width				: 100%;
	overflow			: hidden;
	background-color	: #FFFFFF;
}

.JuiLayoutModuleHead td
{
	padding				: 0px;
	line-height			: 24px;
}

.JuiLayoutModuleHead .JuiLayoutTitleCell
{
	padding-left		: 6px;
	overflow			: hidden;
	text-overflow		: ellipsis;
	white-space			: nowrap;
}

.JuiLayoutModuleHead .JuiLayoutButtonCell
{
	width				: 28px;
	padding-left		: 6px;
}

.JuiLayoutModuleHead .JuiLayoutCloseIcon
{
	display				: block;
	background-image	: url(image/LayoutClose.png);
	width				: 16px;
	height				: 16px;
}
