.ContentRoot
{
	width				: 100%;
	height				: 100%;
	text-align			: center;
}

.FormTable
{
	background-color	: #F8F8F4;
	border-radius		: 5px;
}

.FormTable tr
{
	height				: 40px;
}

.FormTable tr:nth-child(2)
{
	height				: 9px;
	vertical-align		: top;
}

.FormTable tr:last-child
{
	height				: 46px;
}

.FormTable td
{
	padding				: 4px 6px;
	text-align			: left;
}

.FormTable tr:first-child td
{
	text-align			: center;
}

.FormTable tr:nth-child(2) td
{
	padding				: 0px;
}

.FormTable tr:last-child td
{
	text-align			: center;
	padding-bottom		: 10px;
}

.FormTable td:first-child
{
	padding-left		: 18px;
}

.FormTable td:last-child
{
	padding-right		: 18px;
}

.Line
{
	background-color	: #AAAABB;
	height				: 1px;
	width				: 100%;
	overflow			: hidden;
}

#ErrorMessage
{
	height				: 60px;
	padding-top			: 16px;
	color				: #FF0000;
}
